.movie-details-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 1rem;
}

.movie-details-info {
  display: flex;
  flex-direction: row;
  flex: 2;
  height: 100%;
  gap: 1rem;
}

.movie-details-add {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  align-items: center;
  flex: 1;
  padding: 1rem;
  gap: 1rem;
}

.movie-details-info_img {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 2;
  height: 0;
  min-height: 100%;
  padding: 0.5rem;
}

.movie-details-info_img img {
  height: 100%;
  max-width: 100%;
}

.movie-details-info_data {
  border: 2px solid black;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0.5rem;
  gap: 1rem;
}

.movie-details-info_btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}