* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html, #root {
  height: 100%;
  font-family: Arial, sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 2rem;
  width: 90%;
  max-width: 60rem;
  margin: auto;
}